{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} My Shop {% endblock %} </title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
<div id="header">
    <a href="/" class="logo">My Shop</a>
</div>
<div id="subheader">
    <div class="cart">
        {% with total_items=cart|length %}
        {% if total_items > 0 %}
        Your cart:
        <a href="{% url 'cart:cart_detail' %}">
            {{total_items}} items{{total_items|pluralize}},
            ${{cart.get_total_price}}
        </a>
        {% elif not order %}
        Your cart is empty
        {% endif %}
        
        {% endwith %}
    </div>
</div>
<div id="content">
    {% block content %}

    {% endblock %}
</div>
</body>
</html>